<%= error_messages_for(f.object) %>

<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name,  class: "form-control #{@author.errors[:first_name].any? ? 'is-invalid' : ''}" %>
</div>
<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name,  class: "form-control #{@author.errors[:last_name].any? ? 'is-invalid' : ''}" %>
</div>
<div class="form-group">
  <%= f.label :birth_year %>
  <%= f.select :birth_year, (1950..2005), { prompt: "Select a Date" }, { class: "form-control #{@author.errors[:birth_year].any? ? 'is-invalid' : ''}" } %>
</div>
<%= f.submit submit_text, class: "btn btn-primary" %> <%= link_to "Cancel", authors_path, class: "btn btn-secondary" %>