<h1>Author Details</h1>

<p>
  <%= link_to "Return to Authors List", authors_path %>
</p>

<h4>
  <%= @author.name %>
</h4>

<p>
  Age: <%= @author.age %>
</p>

<strong>Books</strong><%= " - #{pluralize(@author.books.size, 'book')}" unless @author.books.empty? %>
<% unless @author.books.empty? %>
  <ul>
    <% @author.books.each do |book| %>
      <li>
        <%= book.title %>
      </li>
    <% end %>
  </ul>
<% else %>
  <ul>
    <li>No Books for this author</li>
  </ul>
<% end %>

<% unless @author.books.empty? %>
  <p>
    <%= link_to "View Books from this Author", books_path(author_id: @author.id) %>
  </p>
<% end %>