<div class="row mt-4">
  <div class="col">
    <h1>Author Details</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row pl-3">
  <div class="col">
    <p>
      <%= link_to "<< Return to Authors List", authors_path %>
    </p>
  </div>
</div>

<div class="row mt-n3">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <h4>
      <%= @author.name %>
    </h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      Born: <%= @author.birth_year %>
    </p>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <h4><%= "#{pluralize(@author.books.size, 'Title')}" unless @author.books.empty? %></h4>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <% unless @author.books.empty? %>
      <ul>
        <% @author.books.each do |book| %>
          <li>
            <%= book.title %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <ul>
        <li>No Books for this author</li>
      </ul>
    <% end %>

    <% unless @author.books.empty? %>
      <p>
        <%= link_to "View Books from this Author", books_path(author_id: @author.id) %>
      </p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to "Edit Author", edit_author_path(@author) %>
  </div>
</div>